

body {
    background-image: url('main_cover.png');
    background-size: cover;
    opacity: 0.95;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;


}

body ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-body {
    background-color: black;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    align-content:space-between;
    opacity: 1.0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: antiquewhite;


}


.main-body * { 
    opacity: 100%;
    font-family: 'typewrite123';
}

.main-header {
    margin-left: 1vw;
    background-image: url('papyrus.png');
    background-size: cover;
    background-position-y: 97% ;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5rem;
    width: 100%;
}



.header-menu {
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

.header-menu li a:hover{
    color: black;
}


.main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.after{
align-self: center;
justify-self: center;
}


.after::after {
    content: "";
    background-color: #FAFAFA;
    width: 70vw;
    height: 2px;
    display: block;
    position: center;
}

.help-main{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    background-color: #FAFAFA;
    color: black;
    max-width: 55vw;
    padding: 2rem 3rem ;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-main h2{
    font-size: 2rem;
    text-align: center;
}
.help-main p{
    font-size: 1.25rem;
    text-align: justify;
}

.help-button {
    text-align: center;
    color: black;
    background-color: rgb(186, 219, 136);
    width: auto;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 176px;
    border-radius: 5px;
    border: none;
}
