@font-face {
    font-family: 'typew';
    src: url('../assets/fonts/JMH_Typewriter.otf') format('opentype');
}

/* BASE */

body {
    background-image: url('../assets/imagens/main_cover.png');
    background-size: cover;
    opacity: 0.95;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    min-height: 100vh;
    position: relative;
    
}

.main-body * { 
    font-family: 'typew';
    opacity: 100%;
}
.main-body ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-body {
    background-color: black;
    opacity: 1.0;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 80px;


}





.main-header {
    margin-left: 1vw;
    background-image: url('../assets/imagens/papyrus.png');
    background-size: cover;
    background-position-y: 97% ;
    display: flex;
    flex-direction: column;
    padding-top: 2.3rem;
    padding-bottom: 4.8rem;

}

.header-bottom {
    color: antiquewhite;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
}


.header-menu {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

a{
    color: antiquewhite;
    text-decoration: none;
}

.header-menu li a:hover{
    color: black;
}



.main-footer{
    color: antiquewhite;
    justify-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.after{
    align-self: center;
    justify-self: center;
}


.after::after {
    content: "";
    background-color: #FAFAFA;
    width: 70vw;
    height: 2px;
    display: block;
    position: center;
}

/* HOME */

.home-main{
    color: antiquewhite;
    min-height: calc(800% - 80px);
}

.names-section{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-unit{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
}

.search-form {
    display: flex;
    align-items: center;
    align-self:flex-end;
    max-width: 80%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }

.search-box{
    display: flex;
  }

.search-bar {
    max-width: 60%;
    min-width: 12.5rem;
    padding: 8px;
    border: none;
    background-color: #FAFAFA; 
    border-radius: 20px 0 0 20px;
  }
  
  .search-button {
    border: none;
    background-color: #4CAF50; 
    color: #FAFAFA; 
    max-width: 20%;
    border-radius: 0 20px 20px 0;
  }

  .search-icon{
    max-width: 35px;
  }

.date-local{
    font-size: 1rem;
}

.name{
    font-size: 3.25rem;
    margin: 0 1rem;
}

/* HELP */
.help-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help-main{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    background-color: #FAFAFA;
    color: black;
    max-width: 65vw;
    padding: 2rem 3rem ;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help-main h2{
    font-size: 2rem;
    text-align: center;
}
.help-main p{
    font-size: 1.25rem;
    text-align: justify;
}

.help-button {
    text-align: center;
    color: black;
    background-color: rgb(186, 219, 136);
    width: auto;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 176px;
    border-radius: 5px;
    border: none;
}
individual-main{
    min-width: 500px;
}
@media (max-width: 700px) {
    individual-main {
    max-width:90%;
    min-width: none;
    display:block;
  }
}
@media (max-width: 750px) {
    .date-local{
        font-size: 0.75rem;
    }
    .name-unit{
        flex-direction: column;
        align-content: center;
        margin-top: 2rem;
        align-items: center;
    }
    .name{
        font-size: 2rem;
        margin: 0 0.75rem;
    }
    .header-menu {
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
    .help-main {
        max-width: 85vw;
    }
    .main-header {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 0;
        
    }
    .search-form {
        align-self: center;
    }
} 

@media (max-width: 575px) {
    .main-header {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        margin-left: 0;
        
    }
    .search-form {
        align-self: center;
    }
}
